@import "tailwindcss";

body {
  background: #ffffff;
}

.hu {
  filter: hue-rotate(150deg);
  cursor: grab;
}
.why {
  background: linear-gradient(241deg, #d1f0ff 0%, #fff 55%);
}
.faq {
  background: linear-gradient(124deg, #d1eeff 0%, #fff 55%);
}
.nav-bg {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.4) 0%,
    var(--token-d49ce14e-f5dc-463a-9b8d-4f0e772df7f1, rgb(255, 255, 255)) 100%
  );
  backdrop-filter: blur(5px);
}
.card-bg {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.4) 0%,
    #fff 100%
  );
}
.cta {
  background: linear-gradient(270deg, #fff 0%, #d1f0ff 48.65%, #fff 100%);
}
.faq-blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #d1edff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 700px;
  height: 487px;
  
}

.gallery {
  position: relative;
  width: 100%;
}

@keyframes marqueeVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marqueeTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marqueeBottom {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-marquee-vertical {
  animation: marqueeVertical 10s linear infinite;
}

.animate-marquee-top {
  animation: marqueeTop 10s linear infinite;
}
